
/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #007db4;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.bb{
  background-color: gray;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color:white;
  padding:0.5em;
}

/*
 * Gray blocks for scaffolding
 */

.bor{
  border: 1px solid gray;
}

.blue-thing{
  background-color: #007db4;
  color:white;
}

.main-width{
  width:1170px;
}
