///////////////////////////////////////////////////////////////////////////
/*
 * Variables
 */
// Colors
@brand-bar-blue: #007db4;
@brand-font-color: white;
@labels-blue: #1a74ba;
/////////
@button-blue: #5aabd7;
@side-box-blue: #5aabd7; // (sideboxes, buttons, time and weather)
/////////
@news-blue: #1c90ce;
@banner-blue: #1c90ce;
@footer-highlighted-blue: #b7e3fe;
///////
@menu-blue:#0071b9;
/////////
@statement-blue: #dceced;
@notification-background-blue: #dceced;
/////////
@bottom-grey: #efefef;
@most-popular-blue: #edf6ff;
@search-grey: #808080;
@spotlight-grey: #e3e3e3;
////////
@add-content-blue: #006288;
@footer-background-blue: #006288;
///////
@tjo-green: #bed7d3;
@staff-union-green: #c4d8a6;
@classifieds-brown: #e5cda6;
@community-grey: #e3e3d9;
@footer-dark-blue: #0d3257;
@footer-border: #668595;
// constants
@padding: 0.5em 0.5em 0.5em 0.5em;
@large-text:2em;
@medium-text:1.4em;
@small-text:1.2em;
@divider:2em;
///////////////////////////////////////////////////////////////////////////

/*
* Fonts
*/

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SourceSansPro-Regular.otf.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SourceSansPro-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Source Sans Pro Black';
  src: url('../fonts/SourceSansPro-Black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SourceSansPro-Black.otf.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SourceSansPro-Black.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('../fonts/SourceSansPro-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SourceSansPro-Light.otf.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SourceSansPro-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Source Sans Pro Semibold';
  src: url('../fonts/SourceSansPro-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SourceSansPro-Semibold.otf.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SourceSansPro-Semibold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/*
* Rules
*/

.border-radius (@radius: 10px;) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  border-radius:         @radius;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}
.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius:    @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius:  @bottomleft;
  -webkit-border-top-left-radius:     @topleft;

  -moz-border-radius-topright:        @topright;
  -moz-border-radius-bottomright:     @bottomright;
  -moz-border-radius-bottomleft:      @bottomleft;
  -moz-border-radius-topleft:         @topleft;

  border-top-right-radius:            @topright;
  border-bottom-right-radius:         @bottomright;
  border-bottom-left-radius:          @bottomleft;
  border-top-left-radius:             @topleft;

  -moz-background-clip:    padding; 
  -webkit-background-clip: padding-box; 
  background-clip:         padding-box; 
}

.opacity (@opacity: 0.5) {
  -webkit-opacity:  @opacity;
  -moz-opacity:     @opacity;
  opacity:    @opacity;
}

.element-color( @color ) when ( lightness( @color ) >= 60% ) {
    color: @color - #888;
} 
 
.element-color( @color ) when ( lightness( @color ) < 60% ) {
    color: #fff;
}

.font(@type){
  font-family: Source Sans Pro @type, Helvetica, sans-serif;
}

/*
* Body
*/

body {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 100%;
}

/*
 * Masthead for nav
 */

#top-bar {
  .font('Light');
  background-color: @brand-bar-blue;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  
}

.topnodecoration{
  text-decoration: none;
  color: @brand-font-color;
}

a.top-nav-item {
  .topnodecoration;
}

a.top-nav-item:visited{
  .topnodecoration
}

.top-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: @brand-font-color;
  font-size: 1.3em;
}

img#un-top-logo {
  padding-bottom: 2px;
}

/*
* Top banner
*/

img#iseek-logo-banner {
  padding-top: 20px;
}

#banner-separation{
  background-color: @banner-blue;
  display: block;
  width: 3px;
  height: 80px;
  margin-top: 20px;
  float: left;
}

select#select-location{
  background: 0 0;
  border: 0;
  font-size: 3em;
  color: @banner-blue;
  margin-top: 1.29em;
  margin-left: 0.4em;
}

/*
* Main nav menu
*/

div#main-navbar-collapse-1 {
  background-color: white;
  .font('Semibold');
}

div#main-navbar-collapse-1 li a {
  font-size: 1.8em;
  color: @banner-blue;
}

div#main-navbar-collapse-1 i.fa {
  padding-right: 0.2em;
}

div#main-navbar-collapse-1 ul.dropdown-menu li a{
  font-size: 1em;
}

/*
* Search
*/

div#search-box{
  padding: 1em;
  border-right: 2px solid @bottom-grey;
  border-left: 2px solid @bottom-grey;
  border-bottom: 2px solid @bottom-grey;
  .border-radiuses(0,15px,15px,0);

  & label{
    color: @labels-blue;
  }
}

label[for='input-search-iseek']{
  padding-top: 0.8em;
}

.rpad0{
  padding-right: 0;
}

.lpad0{
  padding-left: 0;
}

.lrpad0{
  .rpad0;
  .lpad0;
}

form#search-form{
  font-size: 1.7em;
}

.search-button{
  width: 100%;
  background-color: @search-grey;
  color: white;
  border: 0;
  border-bottom: 1px solid grey;
}

.search-input{
  width: 100%;
}

select#select-search{
  background: 0 0;
  border:0;
  border-bottom: 3px solid @side-box-blue;
  background-color: @side-box-blue;
  color: white;
  border-radius: 0;
  -webkit-appearance: none; //removes border radius
  text-indent: .5em;
  padding-top: 0.2em;
}

div#search-links{
  font-size: 0.9em;
  padding-top: 0.8em;
  color: @side-box-blue;
  & a{
    color: @labels-blue;
  }
}

/*
* Staff stories and news
*/

img#image-main-story {
  
}

div#container-main-image {
  margin-top: 4px;
  margin-bottom: 4px;
  position: relative;
}

div#caption-mi {
  position: absolute;
  bottom: 0;
  background-color: @banner-blue;
  width: 100%;
  padding: 1em;
  .opacity(0.85);
  & > a{
    color:white;
    text-decoration: none;
  }
}

div#caption-mi-title {
  font-size: @large-text;
}

div.main-thumbnail{
  background-color: @bottom-grey;
  height: 276px;
  width: 211px;
  color: @brand-bar-blue;
  font-size: @medium-text;
  overflow: hidden;
  & > a{
    text-decoration: none;
    padding: 0.2em 0.2em 0 0.4em;
    display: block;
  }
  
  div#most-popular-title{
  padding: .1em .2em 0 .4em;
  font-size: 1.2em;
  }
  
}

div#thumbnail-most-popular{
  background-color: @most-popular-blue;
  & > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/*
* Submit Content
*/

.submit{
  background-color: @add-content-blue;
  .border-radius(10px);
  color: #FFF;
  padding:@padding;
  margin-top:@divider;
}
.timezone{
  background-color:@side-box-blue;
  .border-radius(10px);
  color: #FFF;
  padding:@padding;
  margin-top: @divider;
}
.facebook{
  color:#44619d;
}
.twitter{
  color:#5ea9dd;
}
.googleplus{
  color:#df4b38;
}
.youtube{
  color:#dd2826;
}
.instagram{
  color:#cccccc;
}
/*
* side box top light blue section
*/
.top-side-box{
   .border-radiuses(15px,0,0,15px);
   background-color: @side-box-blue;
   color:#FFF;
   padding:@padding;
   margin-top:@divider;
   margin-bottom: 0;
   .font('Light');
   font-size: @large-text;
}
.un-news{
  padding:1em;
  margin:0;
  border-left: 2px  solid @bottom-grey; 
  border-right: 2px  solid @bottom-grey; 
}
.un-news li{
  list-style-type: none;
  .underline;
}
.top-side-box:hover{
  background-color: @banner-blue;
}

.bottom-side-box{
   .border-radiuses(0,10px,10px,0);
   background-color: @bottom-grey;
   color:@news-blue;
   margin-top: 0;
}
.staff-box{
  .border-radiuses(10px,10px,10px,10px);
  background-color:@notification-background-blue;
  padding:@padding;
  margin-top:@divider;
 // border: 1px solid @notification-background-blue;

}
.tjo{
  .border-radiuses(10px,0,0,10px);
  background-color:@tjo-green;
  margin:0;
  padding: @padding;
  display: flex; 
}
.tjo-content{
  background-color:#FFF;
  border-left: 4px  solid @tjo-green;

}
.tjo-content ul{
  padding:0;
  margin:0;
}
.tjo-content ul li {
  list-style-type: none;
  padding:0;
  margin:0;
  .underline;
}
.classifieds{
  .border-radiuses(10px,0,0,10px);
  background-color:@classifieds-brown;
  margin:0;
  padding: @padding;
  height: auto;
  display: flex; 
}
.classifieds-content{
  background-color:#FFF;
  border-left: 4px  solid @classifieds-brown; 
  height: 100%;
}
.classifieds-content ul{
  padding:0;
  margin:0;
}
.classifieds-content ul li {
  list-style-type: none;
  padding:0;
  margin:0;
  .underline;
}
.staffunion{
  .border-radiuses(10px,0,0,10px);
  background-color:@staff-union-green;
  margin:0.6em 0 0 0;
  padding: @padding;
}
.staffunion-content{
  background-color:#FFF;
  border-left: 4px  solid @staff-union-green;
  padding: @padding;
}
.staffunion-content ul{
  padding:0;
  margin:0;
}
.staffunion-content ul li {
  list-style-type: none;
  padding:0;
  margin:0;
  .underline;
}
.community{
  .border-radiuses(10px,0,0,10px);
  background-color:@community-grey;
  margin:0.6em 0 0 0;
  padding: @padding;
}
.community-content{
  background-color:#FFF;
  border-left: 4px  solid @community-grey;
  padding: @padding;
}
.community-content ul{
  padding:0;
  margin:0;
}
.community-content ul li {
  list-style-type: none;
  padding:@padding;
  margin:0;
  
}
.large-text{
  font-size: @large-text;
}
.medium-text{
  font-size: @medium-text;
}
.small-text{
  font-size: @small-text;
}
.go{
  background-color: @button-blue;
  padding:0;
  .border-radiuses(0,0,0,0);
}
.toolkit{
  .border-radiuses(10px,0,0,10px);
  background-color:@footer-dark-blue;
  color:#FFF;
  padding:@padding;
  margin: 2em 0 0 0;
  border-bottom: 1px white solid;
}
.dutystaion-container{
  padding: 0;
  margin: 0;
}
.dutystaion{
  border-right: 1px solid #CCC;
  text-align: left;
  margin-top: .2em;
  margin-bottom: .2em;
  margin-right: 0;
  margin-left: 0;
}
.dutystaion-last{
  text-align: left;
  margin-top: .2em;
  margin-bottom: .2em;
  margin-right: 0;
  margin-left: 0;
}
.duty-padding{
  padding-left:0.5em;
  padding-right:0.5em;
}
.underline{
  border-bottom: 1px #CCC solid;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.temperature{
  text-align: right;
}
.weather-icon{
  text-align: left;
  padding-top:0.6em;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin: 0;
}
.moon{
  color:@footer-dark-blue;
}
.sun {
  color:orange;
}
.rain {
  color:@button-blue;
}
.cloud{
  color:@community-grey;
}
.left-menu{
  .border-radiuses(0,0px,10px,0);
   background-color:@footer-dark-blue;
   padding-bottom: 1000px;
   margin-bottom: -1000px;
   height: 100%;
   border-right: 1px solid #FFF;
}
.toolkit-row{
  overflow: hidden;
}
.partners{
  color:#FFF;
  padding: 0;
  text-align: left;
}
.partners li{
  list-style-type: none;
  padding: @padding;
  margin: 0;
  text-align: left;
}
.tabs-container{
  padding:0;
  margin: 0;
}
.tabs{
  color:#FFF;
  padding: 0;
  margin: 0;
  text-align: left;
  width:auto;
}
.tabs ul{
  
  padding:0;
  margin: 0;
}
.tabs ul li{
  list-style-type: none;
  .border-radiuses(10px,10px,0,0);
  padding:@padding;
  margin: 0.5em 0 0.5em 0;
  text-align: left; 
  background-color: @footer-dark-blue;
  
}
.about-us{
  color:#FFF;
  padding:@padding;
  margin: 0;
  width: 100%;
}
.footer-background{
  background-color: @side-box-blue;
  //height: inherit;
  //padding: @padding;
  //margin: 0;
  .border-radiuses(0,10px,10px,0);
}
.footer-menu-container{
  padding: 0;
  margin: 0;
}
.footer-menu-items{
  background-color: @footer-highlighted-blue;
  // .border-radiuses(0,10px,0px,0);
  height: 100%;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  margin-left: 2em;
  color:@footer-dark-blue;
}
.footer-menu-items  li{
  list-style-type: none;
  padding: @padding;
  margin: 0;
  text-align: left;
}
.logo-footer{
  padding: @padding;
  text-align: left;
}
/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
/*
 * Gray blocks for scaffolding
 */

.bb{
  background-color: gray;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color:white;
  padding:0.5em;
}

.bor{
  border: 1px solid gray;
}

.blue-thing{
  background-color: #007db4;
  color:white;
}
