/*
 * Variables
 */

@brand-bar-blue: #007db4;
@brand-font-color: white;
/////////
@button-blue: #5aabd7;
@side-box-blue: #5aabd7; // (sideboxes, buttons, time and weather)
/////////
@news-blue: #1c90ce;
@banner-blue: #1c90ce;
@footer-highlighted-blue: #1c90ce;
///////
@menu-blue:#0071b9;
/////////
@statement-blue: #dceced;
@notification-background-blue: #dceced;
/////////
@bottom-grey: #efefef;
@most-read-blue: #edf6ff;
@search-grey: #808080;
@spotlight-grey: #e3e3e3;
////////
@add-content-blue: #006288;
@footer-background-blue: #006288;
///////
@tjo-green: #bed7d3;
@staff-union-green: #c4d8a6;
@classifieds-brown: #e5cda6;
@community-grey: #e3e3d9;
@footer-dark-blue: #0d3257;
@footer-border: #668595;

///////////////////////////////////////////////////////////////////////////

/*
* Fonts
*/

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SourceSansPro-Regular.otf.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SourceSansPro-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('../fonts/SourceSansPro-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SourceSansPro-Light.otf.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SourceSansPro-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
}

/*
* Rules
*/

.border-radius (@radius: 5px;) {
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  border-radius:         @radius;

  -moz-background-clip:    padding;
  -webkit-background-clip: padding-box;
  background-clip:         padding-box;
}
.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius:    @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius:  @bottomleft;
  -webkit-border-top-left-radius:     @topleft;

  -moz-border-radius-topright:        @topright;
  -moz-border-radius-bottomright:     @bottomright;
  -moz-border-radius-bottomleft:      @bottomleft;
  -moz-border-radius-topleft:         @topleft;

  border-top-right-radius:            @topright;
  border-bottom-right-radius:         @bottomright;
  border-bottom-left-radius:          @bottomleft;
  border-top-left-radius:             @topleft;

  -moz-background-clip:    padding; 
  -webkit-background-clip: padding-box; 
  background-clip:         padding-box; 
}

.opacity (@opacity: 0.5) {
  -webkit-opacity:  @opacity;
  -moz-opacity:     @opacity;
  opacity:    @opacity;
}

.element-color( @color ) when ( lightness( @color ) >= 60% ) {
    color: @color - #888;
} 
 
.element-color( @color ) when ( lightness( @color ) < 60% ) {
    color: #fff;
}

/*
* Body
*/

body {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 100%;
}

/*
 * Masthead for nav
 */

#top-bar {
  font-family: 'Source Sans Pro Light', Helvetica, sans-serif;
  background-color: @brand-bar-blue;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  height: 40px;
}

.top-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: @brand-font-color;
  font-size: 1.3em;
}



/*
* Submit Content
*/

.submit{
  background-color: @add-content-blue;
  .border-radius();
  color: #FFF;
}
/*
* side box top light blue section
*/
.top-side-box{
   .border-radiuses(5px,0,0,5px);
   background-color: @side-box-blue;
   color:#FFF;
   padding:0.5em .5em .5em 0.5em;
   margin-bottom: 0;
}
.bottom-side-box{
   .border-radiuses(0,5px,5px,0);
   background-color: @bottom-grey;
   color:@news-blue;
   margin-top: 0;
}
.staff-box{
  .border-radiuses(5px,5px,5px,5px);
  background-color:@notification-background-blue;
  padding:.6em;
}
.tjo{
  .border-radiuses(5px,0,0,5px);
  background-color:@tjo-green;
  margin:0;
}
.tjo-content{
  background-color:#FFF;
  border-left: 4px  solid @tjo-green;
}
.classifieds{
  .border-radiuses(5px,0,0,5px);
  background-color:@classifieds-brown;
  margin:0;
}
.classifieds-content{
  background-color:#FFF;
  border-left: 4px  solid @classifieds-brown; 
}
.staffunion{
  .border-radiuses(5px,0,0,5px);
  background-color:@staff-union-green;
  margin:0;
}
.staffunion-content{
  background-color:#FFF;
  border-left: 4px  solid @staff-union-green;
}
.community{
  .border-radiuses(5px,0,0,5px);
  background-color:@community-grey;
  margin:0;
}
.community-content{
  background-color:#FFF;
  border-left: 4px  solid @community-grey;
}

/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/*
 * Gray blocks for scaffolding
 */

.bb{
  background-color: gray;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color:white;
  padding:0.5em;
}

.bor{
  border: 1px solid gray;
}

.blue-thing{
  background-color: #007db4;
  color:white;
}

/*
 * From here down is for Husain and up for E.
 */